<table>
  <thead>
  <tr>
    <th>
      <app-sorting
        [fieldName]="'title'"
        [activeFieldName]="activeField"
        (sortingStateChanged)="onSortingChanged($event)">
        title
      </app-sorting>
    </th>
    <th>
      <app-sorting
        [fieldName]="'group'"
        [activeFieldName]="activeField"
        (sortingStateChanged)="onSortingChanged($event)">
        group
      </app-sorting>
    </th>
    <th>status</th>
    <th>matchType</th>
    <th>suggestedBid</th>
    <th>keywordBid</th>
    <th>impressions</th>
    <th>clicks</th>
    <th>ctr</th>
    <th>spend</th>
    <th>cpc</th>
    <th>orders</th>
    <th>sales</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let keyword of keywordsList">
    <app-keywords-list-item
      [keyword]="keyword">
    </app-keywords-list-item>
  </tr>
  </tbody>
</table>
