<a href="#" (click)="onSortingChange($event)">
  <ng-content></ng-content>

  <span *ngIf="sortingState === sortingStateEnum.asc"> > </span>
  <span *ngIf="sortingState === sortingStateEnum.desc"> < </span>
</a>
