<td>
  <input type="checkbox" [formControl]="formControl">
</td>
<td>{{keyword.title}}</td>
<td>{{keyword.group}}</td>
<td>{{keyword.status}}</td>
<td>{{keyword.matchType}}</td>
<td>{{keyword.suggestedBid}}</td>
<td>{{keyword.keywordBid}}</td>
<td>{{keyword.impressions}}</td>
<td>{{keyword.clicks}}</td>
<td>{{keyword.ctr}}</td>
<td>{{keyword.spend}}</td>
<td>{{keyword.cpc}}</td>
<td>{{keyword.orders}}</td>
<td>{{keyword.sales}}</td>
